.container-button {
  padding: 94px 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.flex-button li:not(:last-child) {
  margin-right: 8px;
}

.flex-button {
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
  display: flex;
  justify-content: center;
}

.button {
  padding: 6px 22px;
  font-family: "Roboto";
  cursor: pointer;
  color: #212121;
  font-style: normal;
  background: #f5f4fa;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  border: 1px solid #000000;
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.flex-container {
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.element {
  display: block;
  text-decoration: none;
  overflow: hidden;

  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  transition-property: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.element:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.element:nth-child(3n) {
  margin-right: 0;
}

.element:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.block-text {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.button:hover,
button:focus {
  background: #2196f3;
  color: #ffffff;
}

.overlay {
  height: 294px;
  overflow: hidden;
}

.ptojects-img {
  display: block;
}

.product-thumb {
  display: flex;
  align-items: center;
  margin: 0;
  height: 294px;
  padding: 0 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2196f3;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover .product-thumb {
  transform: translateY(-294px);
}

.title {
  margin-top: 0;
  margin-bottom: 4px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text {
  margin: 0;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* Постоянные клиенты */

/*  */
.list {
  display: flex;
  margin: 0;
  padding-left: 0;
}

.list li {
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

/*  */

/* position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
  clip-path: inset(100%); */
