.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
  }

  &__menu {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__list:hover {
    border-color: #2196f3;
  }

  &__img:hover,
  &__img:focus {
    border: 1px solid #2196f3;
    fill: #2196f3;
  }

  &__list:not(:last-child) {
    margin-right: 30px;
  }
}
